input, select{
    border: none;
    border-radius: 5px;
    outline: none;
}

img{
    width: 100%;
}

body{
    .archivo-black-regular {
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
      }      
}

.ms_page_main{
    background-image: url(../img/Treno.png);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.ms_section_preventive{
    padding: 70px 0;

    & h1{
        padding: 15px;
        color: rgba(0, 0, 0, 0.63);
    }
}

.ms_section_ticket{
    & h2{
        background-color: rgba(255, 255, 255, 0.348);
        border-radius: 15px;
    }
}

.ms_card_ticket{
    background-color: rgb(255, 255, 255);
    height: calc(100%)
}